@use "src/styles/colors";

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    gap: 15px;
    padding: 10px;
    &__button {
        width: 50%;
        padding: 2px;
        min-width: 50px;
        border: 2px solid colors.$navigation-light-user-info-button-background;
        border-radius: 5px;
        background-color: colors.$navigation-light-user-info-button-background;
        color: colors.$navigation-light-user-info-button-text;
        &:hover {
            cursor: pointer;
        }
    }
}