@use "src/styles/colors";

.panel-toggle {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
    align-items: center;
    background: none;

    &__button {
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 500px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 17px 48px;
        color: colors.$button-primary-text;
        background-color: colors.$button-primary-background;
        height: 48px;
        :hover{
            transform: scale(1.04);
            background-color: colors.$button-primary-hover;
        }
    }
}
