@use "src/styles/colors";

.login-panel {
    &__container {
        height: 60%;
        width: 80%;
        display: grid;
        grid-template-rows: 10% 80% 10%;
    }
    &__form {
        height: 50%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        gap: 10px;
    }
    &__input {
        height: 50px;
    }
    &__title {
        place-self: center;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__submit {
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        border-radius: 5px;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        min-width: 160px;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 17px 48px;
        color: colors.$button-primary-text;
        background-color: colors.$button-primary-background;
        height: 48px;
        :hover{
            transform: scale(1.04);
            background-color: colors.$button-primary-hover;
        }
    }
    &__login-toggle{
        @media (max-width: 768px) {
            display: none !important;
        }
    }
    &__login-toggle-mobile{
        @media (min-width: 769px) {
            display: none !important;
        }
    }
}