/*
 * Base colours.
 */
$-red: #f70000;
$-white: #ffffff;
$-black: #000000;
$-dim-green: #2C6566;
$-less-dim-green: #327375;
$-light-green: #449342;
$-ocean: #C1F6ED;
$-light-grey: #ECECEC;
$-sand: #FFF8EE;

// Marker Colours
$-burgandy: #800000;
$-blue: #0000ff;
$-orange: #ffa500;
$-yellow: #ffff00;

/*
  * Components Colours.
  */
$application-background: $-dim-green;

$loader-background: $-dim-green;
$loader-foreground: $-white;
$loader-foreground-alt: $-light-green;
$loader-text: $-white;

$login-panel-background: $-white;

$button-primary-text: $-white;
$button-primary-background: $-light-green;
$button-primary-border: $-light-green;
$button-primary-hover: $-less-dim-green;
$button-primary-text-reset: $-white;
$button-primary-background-reset: $-red;
$button-primary-border-reset: $-red;
$button-primary-hover-reset: $-red;
$button-secondary-button-background: $-dim-green;
$button-secondary-button-hover: $-less-dim-green;
$button-secondary-button-text: $-white;

$navigation-light-background: $-white;
$navigation-light-background-hover: $-dim-green;
$navigation-light-border: $-light-green;
$navigation-light-text: $-black;
$navigation-light-text-hover: $-white;
$navigation-light-text-active: $-dim-green;
$navigation-light-button: $-dim-green;
$navigation-light-button-hover: $-less-dim-green;
$navigation-light-button-text: $-white;
$navigation-light-user-info-button-background: $-white;
$navigation-light-user-info-button-text: $-black;

$tooltip-primary-background: $-light-green;
$tooltip-primary-text: $-black;
$tooltip-secondary-background: $-dim-green;
$tooltip-secondary-text: $-white;
$tooltip-warning-background: $-red;
$tooltip-warning-text: $-white;

$user-info-background: $-white;
$user-info-text: $-black;

$marker-custom-tourism: $-light-green;
$marker-custom-sport: $-blue;
$marker-custom-location: $-orange;
$marker-custom-entertainment: $-yellow;

$search-result-background: $-ocean;
$search-result-border: $-dim-green;

$map-controls-light-background: $-dim-green;
$map-controls-light-buttons: $-white;
$map-controls-light-buttons--hover: $-orange;

$search-controls-light-background-closed: $-white;
$search-controls-light-buttons-closed: $-dim-green;
$search-controls-light-buttons-closed--hover: $-orange;
$search-controls-light-background: $-dim-green;
$search-controls-light-buttons: $-white;
$search-controls-light-buttons--hover: $-orange;

$panel-light-container-background: $-white;

$contact-light-container-background: $-dim-green;
$contact-light-sidebar-container-background: $-light-grey;
$contact-light-panel-container-background: $-white;

$about-light-background: $-sand;
