/*
 * To use the colours in this file,
  * see https://foresttechnologies.atlassian.net/wiki/spaces/DT/pages/4424957972/Styling+Best+Practices#Colours
  * and https://blog.magmalabs.io/2018/04/17/nice-way-handle-sass-color-variables.html
  * also https://chir.ag/projects/name-that-color/
 */

/*
 * Base colours. DO NOT use these variables outside this file.
 * Only use the component variables below, or create your own semantic variable
 */
$-red: #f70000;
$-white: #ffffff;
$-black: #000000;
$-dim-green: #2C6566;
$-light-green: #449342;
$-ocean: #C1F6ED;

// Marker Colours
$-burgandy: #800000;
$-blue: #0000ff;
$-orange: #ffa500;
$-yellow: #ffff00;
/*
  * Components. Only use the values that semantically makes sense for your element, or make a new name.
  * Try to match the naming convention to explain how the colour is used
  * $[location]-[variant]-[style property]
  */
$application-background: $-dim-green;

$loader-container: $-black;
$loader-background: $-dim-green;
$loader-foreground: $-white;
$loader-foreground-alt: $-light-green;
$loader-text: $-white;

$login-panel-background: $-white;

$button-primary-text: $-white;
$button-primary-background: $-light-green;
$button-primary-border: $-light-green;
$button-primary-hover: $-ocean;

$navigation-light-background: $-white;
$navigation-light-background-hover: $-dim-green;
$navigation-light-border: $-light-green;
$navigation-light-text: $-black;
$navigation-light-text-hover: $-white;
$navigation-light-text-active: $-dim-green;
$navigation-light-button: $-dim-green;
$navigation-light-button-hover: $-black;
$navigation-light-button-text: $-white;
$navigation-light-user-info-button-background: $-white;
$navigation-light-user-info-button-text: $-black;

$tooltip-primary-background: $-light-green;
$tooltip-primary-text: $-black;
$tooltip-secondary-background: $-dim-green;
$tooltip-secondary-text: $-white;
$tooltip-warning-background: $-red;
$tooltip-warning-text: $-white;

$user-info-background: $-white;
$user-info-text: $-black;

$marker-custom-tourism: $-light-green;
$marker-custom-sport: $-blue;
$marker-custom-location: $-orange;
$marker-custom-entertainment: $-yellow;

$search-result-background: $-ocean;
$search-result-border: $-dim-green;
