@use "src/styles/colors";

.panel-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    place-items: center;
    align-items: center;
    background: colors.$login-panel-background;
    &--right {
        border-radius: 25px 0 0 25px;
    }
    &--left {
        border-radius: 0 25px 25px 0;
    }
}