.container {
    width: 50%;
    margin: 50px auto;
  }
  
  .range {
    width: 100%;
  }
  
  .bubble {
    visibility: visible;
    width: 30px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -15px;
  }
  
  .bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  