@use "src/styles/colors";

.panels-container {
    position: absolute;
    left: 5%;
    bottom: 20%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 60%;
    width: 70%;
    gap: 38px;

    // Media query for 768 pixels or more
    @media screen and (max-width: 600px) {
        left: 50%;
        top: 50%;
        bottom: 50%;
        height: 90%;
        width: 90%;
        transform: translate(-50%, -50%);
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;

        // Additional styles for the larger screen size go here
    }
}
