@use "src/styles/colors";

.panels-container{
    position:absolute;
    left: 5%;
    bottom: 20%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 60%;
    width: 70%;
    gap:38px;
}