@use "src/styles/colors";

.panels-container {
    position: relative;
    z-index: 10;
    display: grid;
    place-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 90%;
    min-width: min-content;
    padding:30%;
    width: 100%;
    padding: 5%;
    gap: 38px;

    // Media query for 768 pixels or more
    @media screen and (max-width: 768px) {
        grid-template-rows: repeat(1, 100%);
        grid-template-columns: 100%;

        // Additional styles for the larger screen size go here
    }
}
