@use "src/styles/colors";

.contact{
    display: flex;
    height: 100%;
    width: 100%;
    &__overlay-wrapper{
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 100%;
    }
    &__background{
        height: 100vh;
        width: 100%;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        object-fit: cover;
    }
    &__sidebar-container{
        background-color: colors.$contact-light-sidebar-container-background;
        height: 100vh;
        width: 100%;
    }
}