@use "src/styles/colors";

.value{
    display: grid;
    height: fit-content;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    place-items: center;
    @media (max-width: 768px){
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    &__icon{
        background-color: colors.$about-light-value-icon-background;
        color:colors.$about-light-value-icon;
        font-size: 40px;
        text-align: center;
        align-self: center;
        justify-self: center;
        &:hover{
            background-color: colors.$about-light-value-icon-background-hover;
            cursor: pointer;
        }
    }
    &__icon-container{
        width:fit-content;
        height: fit-content;
        justify-self: center;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        background-color: colors.$about-light-value-icon-background;
        color:colors.$about-light-value-icon;
        &:hover{
            background-color: colors.$about-light-value-icon-background-hover;
            cursor: pointer;
        }
    }
    &__content{
        justify-self: flex-start;
        align-self: center;
        @media (max-width: 768px){
            justify-self: center;
        }
    }

    &__title{
        font-size: 2rem;
    }
    &__statement{
        font-size: 1rem;
    }
}